.product_preview {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  background-color: #cac7c7;
  padding: 20px;
}
.product_details {
  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  padding: 10px;
  padding-bottom: 5px;
  position: relative;
}
.product_details h4 {
  position: left;
}
.product_list {
  width: 100%;
}
.A {
  color: white;
  background-color: green;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  margin-left: auto;
}
.NA {
  color: white;
  background-color: gray;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  margin-left: auto;
}
.product_preview h4 {
  padding-left: 5px;
  padding-right: 5px;
}
